@using TeaShop.Presentation.Dtos.TestimonialDtos
@model List<ResultTestimonialDto>


<div class="clients_section layout_padding">
    <div id="custum_slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            @foreach (var item in Model)
            {
                
            
            <div class="carousel-item active">
                <div class="container">
                    <h1 class="clients_taital">Client's Testimonial</h1>
                    <p class="clients_text">
                      @item.Comment
                    </p>
                    <div class="client_img"><img src="~/teab-1.0.0/images/client-img.png"></div>
                    <h1 class="louis_text">@item.Name</h1>
                    <h1 class="smyth_text">Müşteri</h1>
                    <div class="border"></div>
                </div>
            </div>
         }
        </div>
        <a class="carousel-control-prev" href="#custum_slider" role="button" data-slide="next">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="carousel-control-next" href="#custum_slider" role="button" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</div>