
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
	<title>Traversal | Sayfa Bulunamadı</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords"
		  content="Travel Error Page Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<!-- //Meta tag Keywords -->
	<link rel="stylesheet" href="~/Error/css/404page.css" type="text/css" media="all" /><!-- Style-CSS -->
</head>

<body>
	<section class="forms-24">
		<div class="form-25-mian">
			<div class="wrapper">
				<div>
					<h4 class="page-head">TeaShop Hata Sayfası</h4>
				</div>
				<div class="form-inner-cont">
					<div class="forms-25-info">
						<div class="column form-bottom-img">
							<img src="https://scontent.fadb2-2.fna.fbcdn.net/v/t39.30808-6/264404744_459910708980593_5411021223059827333_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=c83dfd&_nc_ohc=qLnZYx0FpUAAX_gHpIS&_nc_ht=scontent.fadb2-2.fna&oh=00_AfB5c-RyT9A8T5-aLyOor6mIN-P75Qvy5yXsKgEducXfLw&oe=6581BE5F" alt="img" class="img-responsive">
						</div>
						<div class="column">
							<h3>404</h3>
							<p>Sayfa Bulunamadı</p>
							<p>Görünüşe göre kaybolmuş gibi görünüyorsunuz.</p>	<a href="/Default/Index/" class="actionbg">Buyrun Sizi Ana Sayfaya Alalım </a>
						</div>
					</div>
				</div>
				<!--copy-right-->
				<div class="copyright">
					&copy; @DateTime.Now.Year <span class="web-text">Traversal Hata Sayfası</span>. Tüm Hakları Saklıdır | Design by	<a class="company" href="http://w3layouts.com/">W3layouts</a>
				</div>
				<!--copy-right-->
			</div>
		</div>
	</section>
</body>

</html>