@model List<ResultSubscribeDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<h3>Aboneler</h3>

@{
    int count = 0;
}
<table class="table table-hover">
    <tr>
        <th>#</th>
        <th>Email</th>
   
        <th></th>

    </tr>
    @foreach (var item in Model)
    {
        count++;

        <tr>
            <th>@count</th>
            <td> @item.Email</td>
   
            <td>
                <button onclick="deleteSubscribe(@item.SubscribeId)" class="btn btn-outline-danger"><i class="fas fa-trash"></i> Sil</button>
               
            </td>
        </tr>
    }
</table>

<script>
    function deleteSubscribe(id) {
        Swal.fire({

            title: 'Silmek istediğinize emin misiniz?',
            text: 'Bu öğeyi silerseniz geri alamazsınız!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Sil',
            cancelButtonText: 'İptal'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "/Admin/Subscribe/DeleteSubscribe?id=" + id; // Yönlendirilecek URL'yi buraya yazın
            }
        });
    }
</script>
