
@{
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

        <!-- banner section end -->
        <div class="banner_section layout_padding">
            <div id="main_slider" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <h1 class="banner_taital">En İyİ <span style="color: #f3801f;"> Çay</span></h1>
                                </div>
                                <div class="col-md-6">
                                    <div><img src="~/teab-1.0.0/images/img-1.png" class="image_1"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <h1 class="banner_taital">En İyİ <span style="color: saddlebrown;"> Kahve</span></h1>
                                </div>
                                <div class="col-md-6">
                                    <div><img src="~/teab-1.0.0/images/img-1.png" class="image_1"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <h1 class="banner_taital">En İyİ <span style="color: red"> Lİkör</span></h1>
                                </div>
                                <div class="col-md-6">
                                    <div><img src="~/teab-1.0.0/images/img-1.png" class="image_1"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="next">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </div>
        <div class="container">
            <div class="play_icon"><a href="#"><img src="~/teab-1.0.0/images/play-icon.png"></a></div>
        </div>
        <!-- banner section end -->
    </div>
    <!-- header section end -->
    <!-- about section start -->
  @await Component.InvokeAsync("_IndexAbout")
    <!-- about section end -->
    <!-- booking section start -->
    <div class="booking_section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="booking_taital">Hemen Masa Rezerve Edin</h1>
                    <p class="booking_text">Siz de özel günleriniz için rezervasyon yapabilirsiniz </p>
                </div>
                <div class="col-md-6">
                <div class="booking_bt"><a href="#contact">İletişime Geçin</a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- booking section end -->
    <!-- services section start -->
   @await Component.InvokeAsync("_IndexDrinkList")
    <!-- services section end -->
    <!-- choose section start -->
    <div class="choose_section">
        <div class="container">
            <h1 class="choose_taital">Neden Bizi Seçmelisiniz</h1>
            <p class="choose_text">
               Alanında uzman baristalarımız ve güler yüzlü çalışanlarımızla her daim hizmetinizdeyiz.
            </p>
            <div class="choose_section_2">
                <div class="choose_left">
                    <div class="choose_left_main">
                        <div class="icon_1"><img src="~/teab-1.0.0/images/icon-1.png"></div>
                    </div>
                    <div class="choose_right_main">
                        <h1 class="satisfied_text">99%<br><span class="satisfied_text_1">Mutlu Müşteriler</span></h1>
                    </div>
                </div>
                <div class="choose_middle">
                    <div class="choose_left_main">
                        <div class="icon_1"><img src="~/teab-1.0.0/images/icon-2.png"></div>
                    </div>
                    <div class="choose_right_main">
                        <h1 class="satisfied_text">40+<br><span class="satisfied_text_1">Lezzetli İçecekler</span></h1>
                    </div>
                </div>
                <div class="choose_middle_1">
                    <div class="choose_left_main">
                        <div class="icon_1"><img src="~/teab-1.0.0/images/icon-3.png"></div>
                    </div>
                    <div class="choose_right_main">
                        <h1 class="satisfied_text">4500+<br><span class="satisfied_text_1">Müşteri</span></h1>
                    </div>
                </div>
                <div class="choose_right">
                    <div class="choose_left_main">
                        <div class="icon_1"><img src="~/teab-1.0.0/images/icon-4.png"></div>
                    </div>
                    <div class="choose_right_main">
                        <h1 class="satisfied_text">190+<br><span class="satisfied_text_1">Günlük Ziyaretçi</span></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- choose section end -->
    <!-- shop section start -->
    <div class="shop_section layout_padding">
        <div id="my_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container">
                        <h1 class="shop_taital">Kafemize Bekleriz</h1>
                        <p class="shop_text">
                           Sizi de mutlaka aramızda görmek isteriz.
                        </p>
                        <div><img src="~/teab-1.0.0/images/img-3.png" class="image_3"></div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <h1 class="shop_taital">Kahvelerimizi denemelisiniz</h1>
                        <p class="shop_text">
                          Tüm dünyadan seçki en güzel kahvelerimizle hizmetinizdeyiz
                        </p>
                        <div><img src="~/teab-1.0.0/images/img-3.png" class="image_3"></div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <h1 class="shop_taital">Çaylarımızı kaçırmayın</h1>
                        <p class="shop_text">
                           Geleneksel Türk çayından yeşil çaya, Bitki çaylarından Çinin Rooibos çayına kadar her çeşit çayımız mevcut.
                        </p>
                        <div><img src="~/teab-1.0.0/images/img-3.png" class="image_3"></div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="next">
                <i class="fa fa-arrow-left"></i>
            </a>
            <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
                <i class="fa fa-arrow-right" style="text-align: left;"></i>
            </a>
        </div>
    </div>
    <!-- shop section end -->
    <!-- frequently section start -->
@await Component.InvokeAsync("_IndexFaq")
    <!-- frequently section end -->
    <!-- clients section start -->
@await Component.InvokeAsync("_IndexTestimonials")
    <!-- clients section end -->
    <!-- contact section start -->
@await Component.InvokeAsync("_IndexContact")

    <!-- contact section end -->
    <!-- footer section start -->
  