
@{
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

        <!-- banner section end -->
        <div class="banner_section layout_padding">
            <div id="main_slider" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <h1 class="banner_taital">Test of <span style="color: #f3801f;">Tea</span></h1>
                                </div>
                                <div class="col-md-6">
                                    <div><img src="~/teab-1.0.0/images/img-1.png" class="image_1"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <h1 class="banner_taital">Test of <span style="color: #f3801f;">Tea</span></h1>
                                </div>
                                <div class="col-md-6">
                                    <div><img src="~/teab-1.0.0/images/img-1.png" class="image_1"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <h1 class="banner_taital">Test of <span style="color: #f3801f;">Tea</span></h1>
                                </div>
                                <div class="col-md-6">
                                    <div><img src="~/teab-1.0.0/images/img-1.png" class="image_1"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="next">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </div>
        <div class="container">
            <div class="play_icon"><a href="#"><img src="~/teab-1.0.0/images/play-icon.png"></a></div>
        </div>
        <!-- banner section end -->
    </div>
    <!-- header section end -->
    <!-- about section start -->
    <div class="about_section layout_padding">
        <div id="my_main_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="about_main">
                                    <h1 class="about_taital">About Our</h1>
                                    <p class="about_text">
                                        It is a long established fact that a reader will be It is a long
                                        established fact that a reader will be It is a long established fact that a reader will be
                                    </p>
                                    <div class="readmore_bt"><a href="#">Read More</a></div>
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="image_2"><img src="~/teab-1.0.0/images/img-2.png"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="about_main">
                                    <h1 class="about_taital">About Our</h1>
                                    <p class="about_text">
                                        It is a long established fact that a reader will be It is a long
                                        established fact that a reader will be It is a long established fact that a reader will be
                                    </p>
                                    <div class="readmore_bt"><a href="#">Read More</a></div>
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="image_2"><img src="~/teab-1.0.0/images/img-2.png"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="about_main">
                                    <h1 class="about_taital">About Our</h1>
                                    <p class="about_text">
                                        It is a long established fact that a reader will be It is a long
                                        established fact that a reader will be It is a long established fact that a reader will be
                                    </p>
                                    <div class="readmore_bt"><a href="#">Read More</a></div>
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="image_2"><img src="~/teab-1.0.0/images/img-2.png"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#my_main_slider" role="button" data-slide="next">
                <i class="fa fa-angle-left"></i>
            </a>
            <a class="carousel-control-next" href="#my_main_slider" role="button" data-slide="next">
                <i class="fa fa-angle-right"></i>
            </a>
        </div>
    </div>
    <!-- about section end -->
    <!-- booking section start -->
    <div class="booking_section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="booking_taital">Book Now Table</h1>
                    <p class="booking_text">It is a long established fact that a reader will be </p>
                </div>
                <div class="col-md-6">
                    <div class="booking_bt"><a href="#">Book Table For Tea</a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- booking section end -->
    <!-- services section start -->
   @await Component.InvokeAsync("_IndexDrinkList")
    <!-- services section end -->
    <!-- choose section start -->
    <div class="choose_section">
        <div class="container">
            <h1 class="choose_taital">Why Choose Us</h1>
            <p class="choose_text">
                It is a long established fact that a reader will beIt is a long established fact that a
                reader will be
            </p>
            <div class="choose_section_2">
                <div class="choose_left">
                    <div class="choose_left_main">
                        <div class="icon_1"><img src="~/teab-1.0.0/images/icon-1.png"></div>
                    </div>
                    <div class="choose_right_main">
                        <h1 class="satisfied_text">99%<br><span class="satisfied_text_1">SATISFIED Customer</span></h1>
                    </div>
                </div>
                <div class="choose_middle">
                    <div class="choose_left_main">
                        <div class="icon_1"><img src="~/teab-1.0.0/images/icon-2.png"></div>
                    </div>
                    <div class="choose_right_main">
                        <h1 class="satisfied_text">40+<br><span class="satisfied_text_1">AWESOME TEA</span></h1>
                    </div>
                </div>
                <div class="choose_middle_1">
                    <div class="choose_left_main">
                        <div class="icon_1"><img src="~/teab-1.0.0/images/icon-3.png"></div>
                    </div>
                    <div class="choose_right_main">
                        <h1 class="satisfied_text">4500+<br><span class="satisfied_text_1">Customer</span></h1>
                    </div>
                </div>
                <div class="choose_right">
                    <div class="choose_left_main">
                        <div class="icon_1"><img src="~/teab-1.0.0/images/icon-4.png"></div>
                    </div>
                    <div class="choose_right_main">
                        <h1 class="satisfied_text">190+<br><span class="satisfied_text_1">DAILY VISITORS</span></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- choose section end -->
    <!-- shop section start -->
    <div class="shop_section layout_padding">
        <div id="my_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container">
                        <h1 class="shop_taital">Our Tea Shop</h1>
                        <p class="shop_text">
                            It is a long established fact that a reader will beIt is a long established fact
                            that a reader will be
                        </p>
                        <div><img src="~/teab-1.0.0/images/img-3.png" class="image_3"></div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <h1 class="shop_taital">Our Tea Shop</h1>
                        <p class="shop_text">
                            It is a long established fact that a reader will beIt is a long established fact
                            that a reader will be
                        </p>
                        <div><img src="~/teab-1.0.0/images/img-3.png" class="image_3"></div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <h1 class="shop_taital">Our Tea Shop</h1>
                        <p class="shop_text">
                            It is a long established fact that a reader will beIt is a long established fact
                            that a reader will be
                        </p>
                        <div><img src="~/teab-1.0.0/images/img-3.png" class="image_3"></div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="next">
                <i class="fa fa-arrow-left"></i>
            </a>
            <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
                <i class="fa fa-arrow-right" style="text-align: left;"></i>
            </a>
        </div>
    </div>
    <!-- shop section end -->
    <!-- frequently section start -->
    <div class="frequently_section layout_padding">
        <div class="container">
            <h1 class="frequently_taital">Frequently Asked Questions</h1>
            <p class="frequently_text">
                It is a long established fact that a reader will beIt is a long established fact
                that a reader will be
            </p>
            <div class="frequently_section_2 layout_padding">
                <div class="bs-example">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button type="button" class="btn btn-link w-100" data-toggle="collapse"
                                            data-target="#collapseOne">
                                        <i class="fa fa-plus"></i>Where can I get some?
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                 data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>
                                        HTML stands for HyperText Markup Language. HTML is the standard markup language for
                                        describing the structure of web pages. <a href="https://www.tutorialrepublic.com/html-tutorial/" target="_blank">Learn more.</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0">
                                    <button type="button" class="btn btn-link collapsed w-100" data-toggle="collapse"
                                            data-target="#collapseTwo">
                                        <i class="fa fa-plus"></i> Why do we use it?
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo"
                                 data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>
                                        It is a long established fact that a reader will be distracted by the readable content of
                                        a page when looking at its layout. The point of using Lorem Ipsum is that it <a href="https://www.tutorialrepublic.com/twitter-bootstrap-tutorial/"
                                                                                                                        target="_blank">Learn more.</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h2 class="mb-0">
                                    <button type="button" class="btn btn-link collapsed w-100" data-toggle="collapse"
                                            data-target="#collapseThree">
                                        <i class="fa fa-plus"></i>Where does it come from?
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                 data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>
                                        CSS stands for Cascading Style Sheet. CSS allows you to specify various style properties
                                        for a given HTML element such as colors, backgrounds, fonts etc. <a href="https://www.tutorialrepublic.com/css-tutorial/" target="_blank">Learn more.</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h2 class="mb-0">
                                    <button type="button" class="btn btn-link collapsed w-100" data-toggle="collapse"
                                            data-target="#collapseThree">
                                        <i class="fa fa-plus"></i>What is Lorem Ipsum?
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                 data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>
                                        CSS stands for Cascading Style Sheet. CSS allows you to specify various style properties
                                        for a given HTML element such as colors, backgrounds, fonts etc. <a href="https://www.tutorialrepublic.com/css-tutorial/" target="_blank">Learn more.</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h2 class="mb-0">
                                    <button type="button" class="btn btn-link collapsed w-100" data-toggle="collapse"
                                            data-target="#collapseThree">
                                        <i class="fa fa-plus"></i>Why do we use it?
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                 data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>
                                        CSS stands for Cascading Style Sheet. CSS allows you to specify various style properties
                                        for a given HTML element such as colors, backgrounds, fonts etc. <a href="https://www.tutorialrepublic.com/css-tutorial/" target="_blank">Learn more.</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- frequently section end -->
    <!-- clients section start -->
@await Component.InvokeAsync("_IndexTestimonials")
    <!-- clients section end -->
    <!-- contact section start -->
    <div class="contact_section layout_padding">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="mail_main">
                        <h1 class="contact_taital">Contact us</h1>
                        <form action="/action_page.php">
                            <div class="form-group">
                                <input type="text" class="email-bt" placeholder="Name" name="Name">
                            </div>
                            <div class="form-group">
                                <input type="text" class="email-bt" placeholder="Email" name="Email">
                            </div>
                            <div class="form-group">
                                <input type="text" class="email-bt" placeholder="Subject" name="Email">
                            </div>
                            <div class="form-group">
                                <textarea class="massage-bt" placeholder="Massage" rows="5" id="comment" name="text"></textarea>
                            </div>
                        </form>
                        <div class="send_btn">
                            <div class="main_bt"><a href="#">Send</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="map_main">
                        <div class="map-responsive">
                            <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&amp;q=Eiffel+Tower+Paris+France"
                                    width="600" height="600" frameborder="0" style="border:0; width: 100%;"
                                    allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- contact section end -->
    <!-- footer section start -->
  